{% extends "base.html" %}

{% block contenido %}
<h1 class="container text-center">Articulos Educativos</h1>

  
  <div class="row align-items-start mb-4">
    <div class="col-md-6">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">Etiquetas Nutricionales</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">¿Como leerlas?</h6>
          <p class="card-text">
            Siempre verifique primero el tamaño de la porción,la información calórica le indica el número de calorías en 1 porción. Ajuste el número de calorías si usted come porciones más pequeñas o más grandes.El total de carbohidratos está listado en letra negrilla para que se destaque y se mide en gramos (g). El azúcar, el almidón y la fibra vegetal conforman los carbohidratos totales que aparecen en la etiqueta.
          </p>
          <a href="https://medlineplus.gov/spanish/ency/patientinstructions/000107.htm" class="card-link">Mas informacion...</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
      <div class="card h-100" >
  <img src="static/imc.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Calculadora IMC</h5>
    <p class="card-text">Ingresa para calcular tu IMC (Indice de Masa Corporal)</p>
    <a href="/calculadoraimc" class="btn btn-primary">Ir...</a>
  </div>
</div>
    </div>
  </div>


      <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
      <div class="card h-100" >
  <img src="static/gct.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Calculadora GCT</h5>
    <p class="card-text">Ingresa para calcular tu GCT (Gasto Calorico Total)</p>
    <a href="/calculadoragct" class="btn btn-primary">Ir...</a>
  </div>
</div>
    </div>
  </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
      <div class="card h-100" >
  <img src="static/tmb.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Calculadora TMB</h5>
    <p class="card-text">Ingresa para calcular tu TMB (Tasa Metabólica Basal)</p>
    <a href="/calculadoratmb" class="btn btn-primary">Ir...</a>
  </div>
</div>
    </div>
  </div>


          <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
      <div class="card h-100" >
  <img src="static/peso.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Calculadora Peso Ideal</h5>
    <p class="card-text">Ingresa para calcular tu Peso Ideal</p>
    <a href="/calculadorapesoideal" class="btn btn-primary">Ir...</a>
  </div>
</div>
    </div>
  </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
      <div class="card h-100" >
  <img src="static/macro.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Calculadora Macronutrientes</h5>
    <p class="card-text">Ingresa para calcular tus Macronutrientes</p>
    <a href="/macronutrientes" class="btn btn-primary">Ir...</a>
  </div>
</div>
    </div>
  </div>


  <div class="row align-items-start mb-4">
    <div class="col-md-6">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">Mitos y Verdades</h5>
          <p class="card-text">
            Mito 1: Las dietas de moda son la solución rápida para bajar de peso.
            <br><br>
            Realidad: Las dietas de moda suelen prometer resultados rápidos, pero esto a menudo se logra a través de restricciones extremas y poco realistas que pueden ser perjudiciales para tu salud a largo plazo. 
            <br><br>
            Realidad: No todas las dietas de moda son efectivas ni seguras. Algunas pueden carecer de evidencia científica sólida que respalde sus afirmaciones.
            <br><br>
            Mito 3: Puedes comer todo lo que quieras en ciertas dietas de moda y aún así perder peso.
            <br><br>
            Realidad: La mayoría de las dietas de moda requieren alguna forma de restricción calórica.
            <br><br>
            Mito 4: Las dietas de moda son seguras para todos.
            <br><br>
            Realidad: Las dietas de moda no son adecuadas para todos.
            <br><br>
            Mito 5: Las dietas de moda son sostenibles a largo plazo.
          </p>
          <a href="https://todossomosuno.com.mx/portal/mitos-y-realidades-sobre-las-dietas-de-moda-que-debes-saber-antes-de-seguir-tendencias-nutricionales/" class="card-link">Mas informacion...</a>
        </div>
      </div>
    </div>
  </div>





  <div class="row align-items-start mb-4">
    <div class="col-md-6">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">La importancia de la hidratación</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Fibras etc...</h6>
          <p class="card-text">
            El agua necesaria para cubrir los requerimientos diarios proviene de los alimentos y bebidas que se ingieren...
          </p>
          <a href="https://www.gob.mx/salud/articulos/la-importancia-de-una-buena-hidratacion" class="card-link">Mas información...</a>
          <a href="https://redmedica.es/blog/importancia-de-la-fibra-en-la-alimentacion-171" class="card-link">Mas información sobre las fibras...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-start mb-4">
    <div class="col-md-6">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">Etiquetas Nutricionales</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">¿Como leerlas?</h6>
          <p class="card-text">
            Siempre verifique primero el tamaño de la porción,la información calórica le indica el número de calorías en 1 porción. Ajuste el número de calorías si usted come porciones más pequeñas o más grandes.El total de carbohidratos está listado en letra negrilla para que se destaque y se mide en gramos (g). El azúcar, el almidón y la fibra vegetal conforman los carbohidratos totales que aparecen en la etiqueta.
          </p>
          <a href="https://medlineplus.gov/spanish/ency/patientinstructions/000107.htm" class="card-link">Mas informacion...</a>
        </div>
      </div>
    </div>

  <div class="container text-center">
    <h2>Guia Sobre macronutrientes y su funcion</h2>
    <h3>¿Que son los macronutrientes?</h3>
    <p>Los macronutrientes son sustancias que el cuerpo necesita en grandes cantidades...</p>

    <h3>Carbohidratos</h3>
    <p>Los carbohidratos son uno de los macronutrientes más controversiales, es necesario destacar que estos macronutrientes son la fuente principal de energía para el ser humano, pues son el combustible del 50 al 80 % del gasto metabólico diario de una persona relativamente activa.</p>

    <h3>Proteina</h3>
    <p>Las proteínas son fundamentales para la construcción y reparación de tejidos, desde un punto de vista nutricional, se estima que no deben suponer más del 15 % de la ingesta calórica diaria en el individuo. En la mayoría de países occidentales la carne es la fuente proteica más consumida, pues junto con la leche y ciertos cereales supone el 75 % de las proteínas consumidas en la dieta.</p>

    <h3>Grasas</h3>
    <p>Por último tenemos al grupo de las grasas, un término genérico que designa a varias clases de lípidos, una serie de moléculas orgánicas que están constituidas principalmente por carbono e hidrógeno. Por sorprendente que pueda parecer, expertos en nutrición recomiendan que del 20 al 30 % de las calorías diarias deben provenir de grasas, es decir, más que las proteínas.</p>

    <h3>Equilibrio de Macronutrientes</h3>
    <p>El balance de macronutrientes es único para cada persona, se podría decir que, el consumo equilibrado de macronutrientes es el origen de lo que conocemos como “dieta equilibrada“. Tener una dieta muy desequilibrada en macronutrientes puede hacer que tu apetito fluctúe, provocando que comas en exceso en ciertos momentos o que te des un atracón de comida.

Por ejemplo, si no estás recibiendo suficiente cantidad de un macronutriente concreto, tu cuerpo puede estar literalmente hambriento a nivel nutricional, independientemente de la cantidad de calorías que estés consumiendo a lo largo del día. Este efecto te “forzará” a comer, haciendo que tengas hambre todo el tiempo porque tu cuerpo estará mandando señales para recibir los nutrientes que necesita.</p>

    <h3>Consideraciones</h3>
    <p>Entender cómo funcionan estos nutrientes puede marcar la diferencia...</p>
    <p>Los macronutrientes aportan energía y estructuras celulares:

Carbohidratos: 4 kcal/g. Fuente principal de energía rápida.
Proteínas: 4 kcal/g. Esenciales para reparación y síntesis de tejidos.
Grasas: 9 kcal/g. Cruciales para la absorción de vitaminas liposolubles y función hormonal.
La proporción ideal de macronutrientes varía según edad, género, nivel de actividad y objetivos personales.</p>
  </div>
</div>

<div class="container">
    <h2>Recursos descargables</h2>
    <ul>
      <li>
        <a href="{{ url_for('static', filename='DVS_Modulo3_Cuaderno.pdf') }}" download>
          📄 Planilla de ejercicios básicos para complementar la nutrición
        </a>
      </li>
      <li>
        <a href="{{ url_for('static', filename='guc3ada-bc3a1sica-de-nutrientes-y-alimentos-c-ruiz.pdf') }}" download>
          📄 Guía sobre macronutrientes
        </a>
      </li>
    </ul>
</div>

{% endblock %}