{% extends "base.html" %}
{% block contenido %}

<h2 class="text-center mt-3">Calculadora TMB</h2>

<div class="container p-3" style="background-color: #b8e994; border-radius: 10px;">

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">TMB</h5>
            <p class="card-text">
                La TMB, o Tasa Metabólica Basal, es la cantidad mínima de calorías que tu cuerpo necesita para 
                mantener sus funciones vitales en reposo, como respirar y hacer circular la sangre. 
                En nutrición, la TMB es fundamental porque representa entre el 60% y el 70% del gasto calórico total 
                y es la base para entender cuántas calorías necesitas para mantener, perder o ganar peso.
            </p>
        </div>
    </div>

    <form method="POST" action="{{ url_for('calculadoratmb') }}">
        
        <div class="mb-3">
            <label for="altura" class="form-label">Altura (cm)</label>
            <input type="number" step="0.01" name="altura" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="peso" class="form-label">Peso (kg)</label>
            <input type="number" step="0.1" name="peso" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" name="edad" step="1" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Sexo:</label>
            <select name="sexo" class="form-select" required>
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary w-100">Calcular</button>

    </form>

</div>

{% if resultado %}
    <div class="container mt-3">
        <div class="alert alert-success text-center">
            Tu TMB es: <strong>{{ resultado }}</strong> calorías/día
        </div>
    </div>
{% endif %}

{% endblock %}