{% extends "base.html" %}
{% block contenido %}


<div class="container text-center">
    <h1>Bienvenido a NutriApp</h1>
</div>
<div class="container">
    <p>Tu espacio digital para aprender, mejorar y cuidar tu alimentación.
En esta aplicación encontrarás herramientas prácticas, consejos personalizados y recursos confiables para mantener un estilo de vida saludable.
Explora nuestros apartados, descubre recetas equilibradas y lleva el control de tu nutrición de forma sencilla y accesible.</p>

</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="static/america_digital_comidas_ricas_y_saludables_saludables_2020-1-750x536.jpg" class="rounded" width="300">
    </div>
    <div class="col">
      <img src="static/OIP.webp" class="rounded" width="280">
    </div>
  </div>
</div>
 <div class="container">
  <h2 style="color: #b8e994;">¿Qué es NutriApp?</h2>
  <p>NutriApp es una aplicación web que te ayuda a llevar una alimentación equilibrada. 
     Aprende sobre los alimentos, descubre su valor nutricional y recibe recomendaciones personalizadas para tu bienestar.</p>
</section>
<div class="container text-center mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">🥕 Alimentos saludables</h5>
          <p class="card-text">Aprende a balancear tus comidas y descubrir nuevos ingredientes.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">🍉 Planes personalizados</h5>
          <p class="card-text">Recibe consejos según tus necesidades y objetivos.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">💧 Hidratación</h5>
          <p class="card-text">Lleva el control de tu consumo de agua y mejora tus hábitos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer style="background-color: #b8e994; text-align: center;">
  <p>© 2025 NutriApp — Todos los derechos reservados</p>
  <p>Hecho por Karime Cruz Y Karen Martinez</p>
</footer>
{% endblock %}